body {
  margin: 0;
}

canvas {
  display: block;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

#playing {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 2rem;
}
